.Toolbar  {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #04415e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
  }
  
  .OpenNav {
    height: 100%;
    width: 20%;
  }

  .Nav {
    height: 100%;
    width: 40%;
  }
  
  @media (max-width: 500px) {
    .DesktopOnly  {
      display: none;
    }
  }
  