.Tasks {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    background-color: whitesmoke;
   
}
.YesNo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
   
   
}